body {
  margin: 0;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background-color: #bfbfbf;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1060px;
  max-width: 1060px;
  height: 47px;
  margin: auto;
  background-color: white;
}

.header__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__links-item-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__links-item-logo:hover {
  color: green;
}

.header__links-item {
  margin-left: 15px;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 0 10px;
  height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 999px;
}

.search-input {
  border: none;
  outline: none;
}

.logo {
  width: 77px;
  height: 47px;
}

.sign-in {
  margin-left: 15px;
  font-size: 17px;
}

.sign-in:hover {
  color: green;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.menu {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #78b43d;
  height: 36px;
}

.menu__container {
  width: 1060px;
  max-width: 1060px;
  margin: auto;
}

.menu__container-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  list-style: none;
  margin: 0;
  color: white;
  font-size: 14px;
}

.menu__container-list-item {
  position: relative;
  padding: 10px 7px;
}

.menu__container-list-item:hover {
  background-color: #547e2b;
  cursor: pointer;
}

.menu__container-list-item-sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  background-color: white;
  width: 200px;
  color: black;
  font-size: 16px;
  padding: 0;
  border-top: 3px solid #3c811e;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.two-column {
  column-count: 2;
  width: 400px;
}

.three-column {
  column-count: 3;
  width: 600px;
}

.menu-right {
  right: 0;
}

.menu-left {
  left: 0;
}

.menu__container-list-item:hover .menu__container-list-item-sub-menu {
  display: block;
}

.menu__container-list-item-sub-menu-items {
  color: black;
  padding: 10px 15px;
}

.menu__container-list-item-sub-menu-items:hover {
  background-color: #78b43d;
  color: white;
}

.news__content-image {
  width: 500px;
  height: 333px;
}

/* main */

.main-content {
  max-width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
}

/* news */
.news__content {
  display: flex;
}

.news__content-main {
  display: flex;
  margin-right: 20px;
}

.news__content-column-1 {
  max-width: 500px;
}

.news__content-images-columns-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.news__content-images-columns-list-item {
  padding-right: 30px;
}

.news__content-list {
  list-style: none;
}
.news__content-images-columns-list-item {
  max-width: 146px;
  height: 207px;
}

.news__content-images-columns-list-item-image {
  max-width: 146px;
}

.news__content-images-columns-list-item h4 {
  color: #252525;
  font-size: 14px;
}

.news__content-list .news__content-list-item p {
  font-size: 12px;
  color: #78b43d;
}

.news__content-list .news__content-list-item span {
  font-size: 15px;
  color: #252525;
  margin-bottom: 10px;
}

/* news-sport */
.news-sport {
  margin-top: 20px;
}

.header__news-sport {
  display: flex;
  height: 35px;
  margin-bottom: 15px;
  align-items: center;
}

.header__news-sport h2 {
  height: 30px;
  margin-right: 20px;
}

.header__news-sport h2 img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.header__news-sport ul li {
  color: #ffffff;
  background: #3d195b;
  padding: 5px 10px;
  border-radius: 999px;
  margin-right: 20px;
}

.header__news-sport ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.news-sport__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.news-sport__list-item {
  width: 218px;
  height: 219px;
  padding: 0 15px;
}

.news-sport__list-item-image {
  width: 100%;
}

/* news-daily */
.news-daily__content-left {
  float: left;
  width: 520px;
}

.news-daily__content-right {
  float: right;
  width: 520px;
}

.news-daily__content-list {
  list-style: none;
  padding: 0;
}

.news-daily__content-header-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.news-daily__content-header-list-item {
  padding-right: 15px;
  color: #666;
}

.news-daily__content-header-list-item-main {
  color: #78b462;
  font-size: 20px;
  font-weight: 700;
  padding-right: 15px;
}

.news-daily__main-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.news-daily__main-item img {
  width: 245px;
  height: 153px;
  margin-right: 20px;
}

.news-daily__main-item-content span {
  color: #7d7d7d;
  font-size: 13px;
}

.news-daily__content-list-item-list-news {
  display: flex;
  padding: 0;
  list-style: none;
}

.news-daily__content-list-item ul li img {
  width: 152px;
  height: 104px;
}

.news-daily__content-list-item ul li img {
  color: #252525;
  font-size: 14px;
}

/* container */
.container {
  width: 730px;
  display: inline-block;
}

.container__item-left {
  float: left;
  width: 351px;
}

.container__item-right {
  float: right;
  width: 351px;
}

.container__item-heading {
  color: green;
}

.container__item-heading:hover {
  cursor: pointer;
}

.container__item-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.container__item-list-item {
  background-color: #ebebeb;
  font-size: 14px;
  margin-left: 5px;
  border-radius: 40%;
  padding: 5px 6px;
}

.container__item-list-item:hover {
  cursor: pointer;
  color: green;
}

.container__item-img {
  width: 350px;
  height: 233px;
}

.container__item-img:hover {
  cursor: pointer;
}

.container__item-heading-content {
  font-size: 18px;
}

.container__item-heading-content:hover {
  cursor: pointer;
  color: green;
}

.container__item-content {
  font-size: 13px;
  line-height: 18px;
  color: #7d7d7d;
}

.container__item-list-content {
  padding: 0;
  list-style-type: none;
}

.container__item-list-content-item {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.container__item-list-content-item:hover {
  cursor: pointer;
  color: green;
}
